.game {
  padding: 50px;
  border: 2px black solid;
  background-color: orange;
  border-radius: 10px;
}
h1 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}

h2 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}

h3 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

#_0 {
  background-color: purple;
  border-radius: 10px;
}
#_1 {
  background-color: red;
  border-radius: 10px;
}
#_2 {
  background-color: blue;
  border-radius: 10px;
}
#_3 {
  background-color: yellow;
  border-radius: 10px;
}

.question {
  display: flex;
  align-items: flex-start;
  align-content: center;
  height: 180px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: green;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.chat {
  margin-top: 24px;
  border: 2px solid black;
  height: 50vh;
  width: 100%;
}
