.game {
  padding: 40px;
  border: 2px black solid;
  background-color: orange;
  border-radius: 10px;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}

h2 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}

h3 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}
h4 {
  color: white;
  text-shadow: 1px 2px 3px black;
  margin: 0px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

#_0 {
  background-color: purple;
  border-radius: 10px;
}
#_1 {
  background-color: red;
  border-radius: 10px;
}
#_2 {
  background-color: blue;
  border-radius: 10px;
}
#_3 {
  background-color: yellow;
  border-radius: 10px;
}

.question {
  display: flex;
  align-items: flex-start;
  align-content: center;
  height: 180px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: green;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.chat {
  margin-top: 24px;
  border: 2px solid black;
  height: 50vh;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 15px;
  border: solid black 2px;
}

.leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 10px;
  padding: 20px;
  border: solid black 2px;
  border-radius: 5px;
  width: auto;
  background-color: rgb(1, 146, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.window {
  padding-bottom: 10px;
}

.content {
  padding-bottom: 50px;
}
.chatBox {
  display: flex;
  border: solid black 2px;
  border-radius: 5px;
  height: 35vh;
  padding: 10px;
  background-color: white;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
.textField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: black solid 0.5px;
  border-radius: 5px;
}
