.game {
  padding: 50px;
  border: 2px black solid;
  background-color: orange;
  border-radius: 10px;
}
h1 {
  color: white;
  text-shadow: 1px 2px 3px black;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}

#_0 {
  background-color: green;
  border-radius: 10px;
}
#_1 {
  background-color: red;
  border-radius: 10px;
}
#_2 {
  background-color: blue;
  border-radius: 10px;
}
#_3 {
  background-color: yellow;
  border-radius: 10px;
}

.question {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: purple;
}

.chat {
  margin-top: 24px;
  border: 2px solid black;
  height: 50vh;
  width: 100%;
}
